/*Flexbox shortcuts*/
.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.center{
    justify-content: center;
}

.end{
    justify-content: flex-end;
}

.start{
    justify-content: flex-start;
}
